.table-view
{
    -fx-background-color:    #545454;
    -fx-border-color:     #737373;
    -fx-text-fill:     #E8E8E8;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}